{{/*Use layout name of "base"*/}}
{{template "base" .}}

{{/*Define where you would like to inject HTML section*/}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>This is the Home page</h1>
                <p>This is some text</p>
            </div>
        </div>
    </div>
{{end}}